<div class="management__wrapper">
	<header class="management__header">
		<h6 class="text-bold text-ellipsis cursor-pointer"
			[title]="returnClientTitle()">
			{{returnClientTitle()}}
		</h6>
		<close-button (click)="closeSideNav()"
			[class]="'btn-close--secondary btn-close--absolute'">
		</close-button>
	</header>

	<div class="management__body">
		<form [formGroup]="formGroup"
			(submit)="onSubmit()"
			class="management__form">
			<div class="management__form-body">
				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>First name</mat-label>
							<input matInput
								placeholder="First name"
								type="text"
								formControlName="FirstName">
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Last Name</mat-label>
							<input matInput
								placeholder="Last Name"
								type="text"
								formControlName="LastName">
						</mat-form-field>
					</div>

					<div class="form-row form-row--half">

						<mat-radio-group color="primary"
							aria-label="Select an option"
							formControlName="Gender"
							class="management__radio">
							<mat-radio-button [value]="gernderEnum.MALE">Male</mat-radio-button>
							<mat-radio-button [value]="gernderEnum.FEMALE">Female</mat-radio-button>
						</mat-radio-group>

					</div>
				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width">
							<mat-label>Email</mat-label>
							<input matInput
								placeholder="Email"
								type="text"
								formControlName="Email">
						</mat-form-field>
					</div>

					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width">
							<mat-label>Address</mat-label>
							<input matInput
								placeholder="address"
								type="text"
								formControlName="Address">
						</mat-form-field>
					</div>
				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-slide-toggle color="primary"
							formControlName="IsActive"
							class="toggle">
							Active
						</mat-slide-toggle>
					</div>
				</div>
			</div>

			<div class="management__action">
				<button class="btn btn-primary btn-md btn-full"
					type="submit"
					[disabled]="!formGroup.valid">
					Save
				</button>

				<button class="btn btn-outline btn-md btn-full"
					type="button"
					*ngIf="client"
					(click)="deleteClientDiaolg(client)">
					Delete
				</button>
			</div>

		</form>
	</div>
</div>

<spinner *ngIf="fakeLoader"
	[color]="'spinner-primary'">
</spinner>