<ng-container *ngIf="!fakeLoader; else fakeLoaderInitial">

	<div class="mat-drawer-content-body">
		<header>
			<h3>Clients</h3>
			<mat-form-field appearance="standard">
				<mat-label>
					Filter
				</mat-label>
				<input matInput
					(keyup)="applyFilter($event)"
					placeholder="Ex. ium"
					#input>
			</mat-form-field>
		</header>

		<main class="tablet-wrapper">

			<table mat-table
				[dataSource]="dataSource"
				class="tablet"
				matSort
				#clientTable>

				<!-- FirstName Column -->
				<ng-container matColumnDef="FirstName">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> First Name</th>
					<td mat-cell
						*matCellDef="let element"> {{element.FirstName}} </td>
				</ng-container>

				<!-- LastName Column -->
				<ng-container matColumnDef="LastName">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> Last Name </th>
					<td mat-cell
						*matCellDef="let element"> {{element.LastName}} </td>
				</ng-container>

				<!-- Gender Column -->
				<ng-container matColumnDef="Gender">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> Gender </th>
					<td mat-cell
						*matCellDef="let element"> {{element.Gender}} </td>
				</ng-container>

				<!-- IsActive Column -->
				<ng-container matColumnDef="IsActive">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> Active </th>
					<td mat-cell
						*matCellDef="let element">
						<container-element [ngSwitch]="element.IsActive">
							<ng-container *ngSwitchCase="true">
								<mat-icon>done</mat-icon>
							</ng-container>
							<ng-container *ngSwitchCase="false">
								<mat-icon>block</mat-icon>
							</ng-container>
							<ng-container *ngSwitchDefault>...</ng-container>
						</container-element>
					</td>
				</ng-container>

				<!-- ExpirationDate Column -->
				<ng-container matColumnDef="ExpirationDate">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> Emplane Date </th>
					<td mat-cell
						*matCellDef="let element"> {{element.ExpirationDate | date}} </td>
				</ng-container>

				<!-- currentBalance Column -->
				<ng-container matColumnDef="CurrentBalance">
					<th mat-header-cell
						mat-sort-header
						*matHeaderCellDef> Current Balance </th>
					<td mat-cell
						*matCellDef="let element">
						{{element.Balance ? element.Balance: '---'}}
					</td>
				</ng-container>

				<tr mat-header-row
					*matHeaderRowDef="displayedColumns;sticky: true"></tr>
				<tr mat-row
					*matRowDef="let row; columns: displayedColumns;"
					class="mat-row"
					(click)="displayOverlay(row)"></tr>
			</table>

		</main>
	</div>

	<button class="add-button"
		(click)="displayOverlay()">
		<mat-icon>add</mat-icon>
	</button>

</ng-container>

<ng-template #fakeLoaderInitial>
	<div class="spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>