<div class="burger-wrapper"
	id="header"
	(click)="toggleMenu()">
	<div class="hamburger"
		[class.active]="toggleMenuIsActive">
		<span></span>
	</div>
</div>

<div class="landing-navigation"
	*ngIf="toggleMenuIsActive"
	[@navigationAnimation]>
	<nav class="landing-navigation__wrapper"
		id="menu">
		<ul class="landing-navigation__menu">
			<li>
				<a href="#welcome"
					[class.active]="activeAnchor === sectionName.welcome"
					(click)="toggleMenu()">Home</a>
			</li>
			<li>
				<a href="#goodDay"
					[class.active]="activeAnchor === sectionName.goodDay"
					(click)="toggleMenu()">About</a>
			</li>
			<li>
				<a href="#benefit"
					[class.active]="activeAnchor === sectionName.benefit"
					(click)="toggleMenu()">Plans</a>
			</li>
			<li>
				<a href="#signUp"
					[class.active]="activeAnchor === sectionName.signUp"
					(click)="toggleMenu()">Contacts</a>
			</li>
			<li>
				<a routerLink="login">Admin</a>
			</li>
		</ul>
	</nav>
</div>

<div fullpage
	id="fullpage"
	[options]="fullPageConfig"
	(ref)="getFullPageRef($event)">

	<section class="section welcome-section fp-auto-height-responsive">
		<welcome></welcome>
	</section>

	<section class="section good-day-section fp-auto-height-responsive">
		<good-day></good-day>
	</section>

	<section class="section good-workout-section fp-auto-height-responsive">
		<workout></workout>
	</section>

	<section class="section slider-section fp-auto-height-responsive">
		<slider-section></slider-section>
	</section>

	<section class="section panorama-section fp-auto-height-responsive">
		<panorama></panorama>
	</section>

	<section class="section fp-auto-height-responsive">
		<location></location>
	</section>

	<section class="section sign-up-section fp-auto-height-responsive">
		<sing-up></sing-up>
	</section>

	<section class="section footer fp-auto-height">
		<footer></footer>
	</section>

</div>