<ul class="location-wrapper">
	<li class="anim anim-left">
		<div class="container">
			<div class="location-about">
				<div class="location-about__top">
					<h2>
						Good Location
					</h2>
					<p>
						Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
						quasi architecto beatae vitae dicta sunt explicabo.
					</p>
				</div>
				<ul>
					<li>
						<a href="http://maps.google.com/?q=1200 732 Ave E, Bayonne, NJ 07002, США"
							target="_blank">
							<div class="image-container">
								<img src="assets/icons/location/location.svg"
									alt="location">
							</div>
							<p>732 Ave E, Bayonne, NJ 07002, USA</p>
						</a>
					</li>
					<li>
						<a href="tel:+1201-XXX-XXX">
							<div class="image-container">
								<img src="assets/icons/location/phone.svg"
									alt="location">
							</div>
							<p>+1201-XXX-XXX</p>
						</a>
					</li>
					<li>
						<a href="mailto:goodgym_test@gmail.com">
							<div class="image-container">
								<img src="assets/icons/location/email.svg"
									alt="location">
							</div>
							<p>goodgym_test@gmail.com</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="anim anim-right">
		<app-map></app-map>
	</li>
</ul>
