<div class="dialog">
  <div class="dialog__header">
    <p class="dialog__header-title">{{ dialogData.title }}</p>
    <button class="btn btn-close btn-close--absolute">
      <mat-icon (click)="cancel()">close</mat-icon>
    </button>
  </div>
  <div class="dialog__body">
    <p class="dialog__body-message">{{ dialogData.message }}</p>
  </div>
  <div class="dialog__action">
    <button class="btn btn-outline-primary btn-sm btn-full"
      (click)="cancel()">{{ dialogData.cancelText }}</button>
    <button class="btn btn-outline btn-sm btn-full"
      (click)="confirm()">{{ dialogData.confirmText }}</button>
  </div>
</div>