.text-bold {
  font-weight: $font-weight-bold;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer-ivents-none {
  pointer-events: none;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}