*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: "Muli", "arial", sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
}

button {
	font-family: "Muli";
	background-color: transparent;
	outline: none;
	appearance: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

input:-webkit-autofill {
	-webkit-background-clip: text;
}
