@import "variables";

.mat-drawer-container {
	height: 100vh;
	background-color: $white;
}

.mat-drawer {
	background-color: $white;
}

.mat-drawer-content {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	overflow: hidden;

	@media (min-width: $phone) {
		flex-direction: row;
	}

	.mat-drawer-content-body {
		flex: 1;
		height: inherit;
	}
}