<div class="panel__wrapper">
	<header class="panel__header">
		<h6 class="text-bold text-ellipsis cursor-pointer"
			[title]="client? (client | compareName) : 'New Client'">
			{{ client? (client | compareName) : 'New Client'}}
		</h6>
		<close-button (click)="closeSideNav()"
			[class]="'btn-close--secondary btn-close--absolute'">
		</close-button>
	</header>

	<div class="panel__body">
		<div [formGroup]="formGroup"
			class="panel__form">
			<div class="panel__form-body">
				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline"
							class="form-field form-field--sm form-field--nogap">
							<mat-label>First name</mat-label>
							<input matInput
								placeholder="First name"
								type="text"
								formControlName="FirstName">
						</mat-form-field>

						<mat-form-field appearance="outline"
							class="form-field form-field--sm form-field--nogap">
							<mat-label>Last Name</mat-label>
							<input matInput
								placeholder="Last Name"
								type="text"
								formControlName="LastName">
						</mat-form-field>
					</div>

					<div class="form-row">

						<mat-form-field appearance="outline"
							class="date-picker form-field form-field--sm form-field--nogap"
							(click)="picker.open()">
							<mat-label>Choose a date</mat-label>
							<input matInput
								[matDatepicker]="picker"
								formControlName="DateOfBirth"
								readonly>
							<mat-datepicker-toggle matSuffix
								[for]="picker">
								<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
							</mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>

						<mat-radio-group color="primary"
							aria-label="Select an option"
							formControlName="Gender"
							class="panel__radio">
							<mat-radio-button [value]="genderEnum.MALE">Male</mat-radio-button>
							<mat-radio-button [value]="genderEnum.FEMALE">Female</mat-radio-button>
						</mat-radio-group>

					</div>
				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width form-field form-field--sm form-field--nogap">
							<mat-label>Email</mat-label>
							<input matInput
								placeholder="Email"
								type="text"
								formControlName="Email">
						</mat-form-field>
					</div>

					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width form-field form-field--sm form-field--nogap">
							<mat-label>Address</mat-label>
							<input matInput
								placeholder="address"
								type="text"
								formControlName="Address">
						</mat-form-field>
					</div>
				</div>

				<div class="form-group">
					<div formArrayName="Phones">
						<div class="form-row form-row--phone"
							*ngFor="let phoneFormGroup of getFormsPhonesArray.controls; index as i">
							<mat-form-field appearance="outline"
								class="form-field form-field--sm form-field--nogap">
								<mat-label>Phone {{i + 1}}</mat-label>
								<input matInput
									placeholder="Phone"
									type="text"
									[formControlName]="i"
									mask="+00 (000) 000 00 00">
							</mat-form-field>

							<close-button (click)="deletePhone(i)"
								[class]="'btn-close--primary'">
							</close-button>

						</div>
						<div class="form-row">
							<a class="btn btn-icon"
								(click)="addPhone()">
								<mat-icon color="primary">add</mat-icon> Add Phone
							</a>
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-slide-toggle color="primary"
							formControlName="IsActive"
							class="toggle">
							Active
						</mat-slide-toggle>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel__footer">
		<button class="btn btn-primary btn-md btn-full"
			[disabled]="!formGroup.valid"
			(click)="onSubmit()">
			Save
		</button>

		<button class="btn btn-outline btn-md btn-full"
			type="button"
			*ngIf="client"
			(click)="deleteClientDialog(client)">
			Delete
		</button>
	</div>
</div>

<spinner *ngIf="fakeLoader"
	[color]="'spinner-primary'">
</spinner>