<div class="image-wrapper pointer-ivents-none">
	<img src="assets/images/workout/workout-background.png"
		alt="workout"
		class="anim anim--right">
</div>
<div class="container">
	<div class="work-out-big animation-workout animation-workout--animate">Good Workout</div>
	<p class="anim anim--left">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
		incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
		viverra maecenas accumpsan lacus vel facilisis.
	</p>
</div>