.confirm-dialog {

  .mat-dialog-container {
    padding: 20px;
    position: relative;
  }

  .dialog {
    display: flex;
    flex-direction: column;

    .dialog__header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    .dialog__header-title {
      font-size: $is-25;
      font-weight: $font-weight-bold;
      line-height: 1.2;
    }

    .dialog__body-message {
      line-height: 1.2;
      margin-bottom: 30px;
      font-size: $is-21;
      text-align: center;
    }

    .dialog__action {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

}