.confirm-dialog {

  .mat-dialog-container {
    padding: 10px;
    position: relative;
  }

  .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dialog-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dialog-header_title {
      font-size: $is-21;
      font-weight: $font-weight-bold;
    }

    .dialog-message {
      line-height: 1.2;
    }

    .dialog-action {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

}