.table {
  width: 100%;

  &.table-primary {

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 0;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 0;
    }

    th.mat-header-cell,
    td.mat-cell {
      text-align: center;
      vertical-align: middle;
    }

    .mat-header-cell {
      min-width: 140px;
    }

    td.mat-cell {
      border-bottom-color: transparent;
    }

    .mat-row {
      transition: $base-transition;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 0, 0, 0.05);
      }
    }
  }

}