.table {
  width: 100%;

  &.table--primary {

    th.mat-header-cell,
    td.mat-cell {
      text-align: center;
      vertical-align: middle;
    }

    .mat-cell,
    .mat-header-cell {
      min-width: 150px;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 5px;
    }

    td.mat-cell {
      border-bottom-color: transparent;
    }

    .mat-row {
      transition: $base-transition;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 0, 0, 0.05);
      }
    }
  }

}