.cdk-overlay-pane.panel-primary {
  width: 100%;

  @media (min-width: $phone) {
    width: fit-content;
    max-width: 450px;
  }
}

.panel {
  display: block;
  background-color: $white;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  .panel__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .toggle {
      font-size: 13px;
    }

    .panel__radio {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 20px;

      @media (min-width: $phone) {
        gap: 0;
        justify-content: space-between;
      }
    }

    .date-picker {
      @media (min-width: $phone) {
        width: 48%;
      }
    }
  }

  .panel__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 90%;

    @media (min-width: $phone) {
      max-width: 100%;
      padding: 20px;
    }

    mat-icon {
      cursor: pointer;
      margin-left: auto;

      &:hover {
        opacity: $opacity-lg;
      }
    }
  }

  .panel__body {
    flex: 1;
    height: inherit;
  }

  .panel__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;

    @media (min-width: $phone) {
      padding: 20px;
    }
  }

  .panel__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .panel__form-body {
      overflow: auto;
      padding: 10px;
      max-height: calc(100svh - 115px);
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      flex: 1;

      @media (min-width: $phone) {
        max-height: calc(100svh - 155px);
        padding: 20px;
      }

      @media (min-width: $tablet) {
        max-height: calc(100svh - 165px);
      }
    }

    .form-group {
      margin-bottom: 15px;

      @media (min-width: $phone) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-row {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 10px;

      @media (min-width: $phone) {
        align-items: center;
        flex-direction: row;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.form-row--phone {
        flex-direction: row;
        align-items: center;

        .mat-form-field {
          width: 100%;
        }
      }

      &.form-row--half {
        width: calc(50% - 15px);
      }

      .full-width {
        width: 100%;
      }
    }

    .mat-form-field-infix {
      display: flex;
      flex-direction: row;
    }

  }

}