<div class="container">
	<div class="section-wrapper">
		<div class="background-video">
			<img src="assets/images/welcome/video.gif"
				alt="video">
		</div>
		<a class="phone-number phone-number--primary"
			href="tel:+123456890">
			<svg class="icon">
				<use xlink:href="assets/icons/sprite.svg#phone"></use>
			</svg>
			<a href="tel:050-XXX-XXX" class="number number--md">
				050-XXX-XX-XX
			</a>
		</a>
		<div class="about anim anim-right">
			<div class="image-wrapper">
				<img src="assets/images/welcome/welcome-section-main.png"
					alt="logo-img"
					class="logo-img">
			</div>
			<h2>Where Health Meets Sport</h2>
		</div>
	</div>
</div>
<a href="#goodDay"
	class="next-page rectange-up-down">
	<svg class="icon">
		<use xlink:href="assets/icons/sprite.svg#down"></use>
	</svg>
</a>
