//size
$is-12: 12px;
$is-17: 17px;
$is-21: 21px;
$is-25: 25px;
$is-27: 27px;
$is-31: 31px;
$is-32: 32px;
$is-48: 48px;
$is-96: 96px;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
