<div class="management__wrapper">
	<header class="management__header">
		<p class="text-bold">
			{{client ? 'Client - ' + client.FirstName + ' ' + client.LastName : 'New Client'}}
		</p>
		<button class="btn btn-close btn-close--absolute"
			(click)="closeSideNav()">
			<mat-icon>close</mat-icon>
		</button>
	</header>

	<div class="management__body">
		<form [formGroup]="formGroup"
			(submit)="onSubmit()"
			class="management__form">
			<div class="management__form-body">
				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>First name</mat-label>
							<input matInput
								placeholder="First name"
								type="text"
								formControlName="FirstName">
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Last Name</mat-label>
							<input matInput
								placeholder="Last Name"
								type="text"
								formControlName="LastName">
						</mat-form-field>
					</div>

					<div class="form-row">

						<mat-form-field appearance="outline"
							class="date-picker"
							(click)="picker.open()">
							<mat-label>Choose a date</mat-label>
							<input matInput
								[matDatepicker]="picker"
								formControlName="DateOfBirth"
								readonly>
							<mat-datepicker-toggle matSuffix
								[for]="picker">
								<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
							</mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>

						<mat-radio-group color="primary"
							aria-label="Select an option"
							formControlName="Gender"
							class="radio">
							<mat-radio-button [value]="gernderEnum.MALE">Male</mat-radio-button>
							<mat-radio-button [value]="gernderEnum.FEMALE">Female</mat-radio-button>
						</mat-radio-group>

					</div>
				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width">
							<mat-label>Email</mat-label>
							<input matInput
								placeholder="Email"
								type="text"
								formControlName="Email">
						</mat-form-field>
					</div>

					<div class="form-row">
						<mat-form-field appearance="outline"
							class="full-width">
							<mat-label>Address</mat-label>
							<input matInput
								placeholder="address"
								type="text"
								formControlName="Address">
						</mat-form-field>
					</div>
				</div>

				<div class="form-group">
					<div formArrayName="Phones">
						<div class="form-row form-row--phone"
							*ngFor="let phoneFormGroup of getFormsPhonesArray.controls; index as i">
							<mat-form-field appearance="outline">
								<mat-label>Phone {{i + 1}}</mat-label>
								<input matInput
									placeholder="Phone"
									type="text"
									[formControlName]="i"
									mask="+00 (000) 000 00 00">
							</mat-form-field>

							<button class="flex-center"
								type="button"
								(click)="deletePhone(i)">
								<mat-icon color="primary">close</mat-icon>
							</button>

						</div>
						<div class="form-row">
							<a class="btn btn-icon"
								(click)="addPhone()">
								<mat-icon color="primary">add</mat-icon> Add Phone
							</a>
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="form-row">
						<mat-slide-toggle color="primary"
							formControlName="IsActive"
							class="toggle">
							Active
						</mat-slide-toggle>
					</div>
				</div>
			</div>

			<div class="management__action">
				<button class="btn btn-primary btn-md btn-full"
					type="submit"
					[disabled]="!formGroup.valid">
					Save
				</button>

				<button class="btn btn-outline btn-md btn-full"
					type="button"
					*ngIf="client"
					(click)="deleteClientDiaolg(client)">
					Delete
				</button>
			</div>

		</form>
	</div>
</div>

<spinner *ngIf="fakeLoader"
	[diameter]="100"
	[overlay]="true"
	[color]="'spinner-primary'">
</spinner>