<div class="side-panel-wrapper">

	<mat-button-toggle-group class="toggle-group"
		value="client">
		<mat-button-toggle value="clients"
			routerLink="clients"
			color="primary"
			routerLinkActive="mat-button-toggle-checked">
			<mat-icon>people</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle value="assignment"
			routerLink="list"
			routerLinkActive="mat-button-toggle-checked">
			<mat-icon>assignment</mat-icon>
		</mat-button-toggle>
	</mat-button-toggle-group>

	<button mat-button
		[matMenuTriggerFor]="belowMenu"
		class="admin-events">
		<div class="logo-wrapper">
			<img src="assets/images/admin/logo.png"
				alt="logo">
		</div>
	</button>

	<mat-menu #belowMenu="matMenu"
		yPosition="below">
		<button mat-menu-item
			(click)="goToLandingDiaolg()">
			Good Gym City
		</button>
		<button mat-menu-item
			(click)="logoutDiaolg()">
			Logout
		</button>
	</mat-menu>

</div>