@import "variables";

.container {
	position: relative;
	z-index: 1;
}

.background-img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: $opacity-sm;

	@media (min-width: $tablet) {
		opacity: $opacity-md;
		right: 35%;
	}

	@media (min-width: $tablet-lg) {
		opacity: $opacity;
	}

	@media (min-width: $desktop) {
		right: 0;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.good-day__wrapper {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	@media (min-width: $phone-lg) {
		padding: 50px 0;
	}

	@media (min-width: $tablet) {
		margin-left: 30%;
		max-width: 600px;
	}

	@media (min-width: $desktop) {
		margin-left: 50%;
		width: 50%;
	}

	&>* {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.good-day__about {
	&>* {
		margin-bottom: 10px;

		@media (min-width: $phone-lg) {
			margin-bottom: 20px;
		}

		@media (min-width: $tablet) {
			margin-bottom: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}