<div class="background-img pointer-ivents-none">
	<img src="assets/images/goodday/goodday-bg.png"
		alt="goodday-bg"
		class="anim anim--left">
</div>
<div class="container">
	<div class="good-day__wrapper anim anim--right">
		<div class="h1">Good Day!</div>
		<div class="good-day__about">
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
				aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			</p>
			<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
		</div>
		<a class="link-icon">
			<p class="link-icon__text">Learn More</p>
			<svg class="icon rectange-right">
				<use xlink:href="assets/icons/sprite.svg#arrow-right"></use>
			</svg>
		</a>
	</div>
</div>